/* Reset dei box model */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Stili di base per il corpo della pagina */
html,
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Animazione per l'apertura del menu */
@keyframes openMenuAnimation {
    0% {
        transform: translateX(100%) translateY(-100%) scale(0);
        /* Inizia dalla posizione in alto a destra */
    }

    50% {
        transform: translateX(25%) translateY(25%) scale(0.5);
        /* Muovi verso il centro della pagina a metà animazione */
    }

    100% {
        transform: translateX(0) translateY(0) scale(1);
        /* Finisci al centro della pagina */
    }
}

/* Animazione per il testo del pulsante */
@keyframes bounceAnimation {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-5px);
        /* Muoviti verso l'alto */
    }

    40% {
        transform: translateY(5px);
        /* Muoviti verso il basso */
    }

    60% {
        transform: translateY(-5px);
        /* Muoviti verso l'alto */
    }

    80% {
        transform: translateY(5px);
        /* Muoviti verso il basso */
    }

    100% {
        transform: translateY(0);
    }
}

/* Stili del pulsante del menu */
#menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    width: fit-content;
    cursor: pointer;
    font-size: 10px;
    /* Imposta la dimensione del font a 10px */
    font-family: "Larsseit-medium", sans-serif;
    /* Utilizza il font "Larsseit-medium" */
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Stili del pulsante del menu quando è cliccato */
#menu-button:active {
    animation: bounceAnimation 0.5s ease;
    /* Durata e modalità di animazione */
}

/* Stili del pulsante del menu quando il cursore passa sopra */
#menu-button:hover {
    background-color: #0056b3;
}

/* Stili del menu a schermo intero */
#menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform-origin: top right;
    /* Imposta il punto di origine per l'animazione al centro */
}

/* Animazione per l'apertura del menu */
#menu.active {
    display: block;
    opacity: 1;
    animation: openMenuAnimation 0.5s ease;
    /* Durata e modalità di animazione */
}

/* Stili per l'icona "X" */
#close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* Animazione per il quadrato quando il menu è attivo */
#menu.active {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.5s ease;
}

/* Aggiungiamo un'animazione per il pulsante del menu quando è attivo */
/* Aggiungi questa parte di CSS per l'animazione del pulsante */
@keyframes moveMenuButton {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(calc(50% - 75px), calc(50% - 25px)) rotate(0deg);
    }

    50% {
        transform: translate(calc(50% - 75px), calc(50% - 25px)) rotate(90deg);
    }

    75% {
        transform: translate(0, 50%) rotate(90deg);
    }

    100% {
        transform: translate(0, 50%) rotate(90deg);
    }
}

/* Applica l'animazione al pulsante del menu */
#menu-button.active {
    animation: moveMenuButton 2s ease;
}